
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..200&display=swap');

@import "tailwindcss";

@import "tailwindcss";

/*animação float*/

@theme {
  --animate-float: float 4s ease-in-out infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }
}

/*animação carrosel stacks*/

@theme {
  --animate-scroll: scroll 20s linear infinite;

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
